header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 1px 0 gray  ;
}

.logo_div{
    width: 80px;
    height: 100px;
}
.logo_div img{
    width: 100%;
    height: 100%;
}
.menu_div ul{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu_div ul li{
    padding: 0 5px 0 5px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

.side_menu{
    width: 50px;
    height: 50px;
}
.side_menu img{
    width: 100%;
    height: 100%;
}

section video{
    width: 100%;
    height: 100%;
}

.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 130px 70px 130px 70px;
}
.about .text_box{
    height: 100%;
    display: flex;
    font-family: 'Lucida Sans';
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-family: sans-serif;
    padding: 0 25px 0 25px ;
}

.about .text_box h1{
    color: #BEAE86;
    font-size: 42px;
    font-weight: 200;
    line-height: 60px;
    letter-spacing: .2rem;
}
.about .text_box p{
    line-height: 2rem;
    width: 500px;
    margin-top: 50px;
    font-weight: 300;
    font-size: 16px;
}

.produtos{
    display: flex;
    flex-direction: column;
    align-items: initial;
    padding: 15px 25px 10px 25px;
    height: calc(100vh - 100px);
    background-color: #f7f1e4;
}

.produtos .titulo{
    text-transform: uppercase;
    font-family: 'Lucida Sans','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 25px;
    width: 100%;
    color: #000000;
    padding-left: 30px;

}

.produtos .sub_titulo{
    font-family: 'Lucida Sans','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 14px;
    width: 100%;
    color: #BEAE86;
    padding-top: 10px;
    padding-left: 30px;

}


.produtos .cards{
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 20px;
}
.produtos .cards ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}
.produtos .cards ul li{
    height: 100%;
    width: 300px;
}

.produtos .cards ul li span{
    font-family: 'Lucida Sans','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px rgb(12, 11, 11) ;
}
.produtos .cards .venda{
    width: 100%;
    height: 100%;
    background-image: url(./images/venderCasa.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.produtos .cards .venda .produto{
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 100;
    padding-left: 5px;

}

.produtos .cards .venda .description{
  font-size: 30px;
  font-weight: 600;
  padding-left: 5px;
  padding-top: 350px;
}

.produtos .cards .venda .rodape{
    padding-left: 200px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 300;

}

.produtos .cards .compra{
    width: 100%;
    height: 100%;
    background-image: url(./images/comprarCasa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.produtos .cards .compra .produto{
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 100;
    padding-left: 5px;

}

.produtos .cards .compra .description{
  font-size: 30px;
  font-weight: 600;
  padding-left: 5px;
  padding-top: 350px;
}

.produtos .cards .compra .rodape{
    padding-left: 200px;
    padding-bottom: 15px;
    font-family: ' Sans';
    font-size: 15px;
    font-weight: 300;

}
.produtos .cards .gestao{
    width: 100%;
    height: 100%;
    background-image: url(./images/gestaoCasa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.produtos .cards .gestao .produto{
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 100;
    padding-left: 5px;

}

.produtos .cards .gestao .description{
  font-size: 30px;
  font-weight: 600;
  padding-left: 5px;
  padding-top: 350px;
}

.produtos .cards .gestao .rodape{
    padding-left: 200px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 300;

}
.produtos .cards .invest{
    width: 100%;
    height: 100%;
    background-image: url(./images/invest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.produtos .cards .invest .produto{
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 100;
    padding-left: 5px;

}

.produtos .cards .invest .description{
  font-size: 30px;
  font-weight: 600;
  padding-left: 5px;
  padding-top: 350px;
}

.produtos .cards .invest .rodape{
    padding-left: 200px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 300;

}

.produtos .cards ul li div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding: 0 130px 0 130px;
    background-color: #f7f1e4;
    margin-top: 70px;
}

.comentarios div{
    width: 100%;
}
.comentarios .titulo{
    padding-left: 15px;
}

.comentarios .titulo h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 100;

}

.comentarios .slider{
    display: flex;
    flex-direction: row;
    width: 100%;
   height: 250px;
}

.comentarios .slider div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 15px 5px 15px;
    height: 100%;

}
.comentarios .slider div div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444343;
   border: 1px solid #444343;
   border-radius: 10px;
   color: whitesmoke;
   text-align: start;
   letter-spacing: 0.3px;
}

.comentarios .slider div div p{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 14px;

}
.comentarios .slider .author{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #BEAE86;
}

.comentarios .button{
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 100px;
}

.comentarios .button span{
    background-color: #BEAE86;
    padding: 10px 20px 7px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;

}

.comentarios .button span:hover{
    background-color: #ffffff;
    border: 1px solid #BEAE86;
    color: #BEAE86;
    padding: 10px 20px 7px 20px;

}

.newsletter{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
}

.newsletter .news_box{
    width: 100%;
    height: 500px;
    background-image: url("./images/casaConforto.jpg");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter .news_box div{
    height: 358px;
    width: 1200px;
    padding-top: 10px;
    padding-left: 20px;
    border: solid 2px rgb(225, 228, 90);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start; 
}

.newsletter .news_box div h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    font-size: 35px;
    font-weight: 700;
}

.newsletter .news_box div p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

.newsletter .news_box div input{
   height: 40px;
   width: 300px;
   border: none;
   border-radius: 3px;
   color: #ffffff;
   background-color: #858282;
}



                               